<h1>Playlister</h1>

<h2><u>Menu</u></h2>
<ul>
    <li><a href="/artists">See Artists</a></li>
    <li><a href="/songs">See Songs</a></li>
    <li><a href="/genres">See Genres</a></li>
</ul>

<a class="button" href="/songs/new">Create New Song</a>